.QuienSoy{
    background-color: #262430;
    color: white;
    display: flex;
    align-items: center;
    height: 300px;
}
.QuienSoy img{
    width: 10%;
    height: 50%;
    border-radius: 100%;
    margin: 0px 20px 10px 100px;
    
}
.QuienSoy h1, .QuienSoy h2{
    font-size: 30px;
}