.contactContainer{
    display: block;
    margin-top: 2%;
}
.contact {
    display: flex;
}
.contact h6 {
    text-align: center;
}
.contact div{
    width: 100%;
    padding: 1% 5%;
}



@media only screen and (max-width:577px)
{
    .contact {
        display: block;
    }
  
}