h2{
    text-align: center;
    text-decoration: solid;
    color: white;
    font-size: 25px;
}
img{
    height: 50px;
    width: 50px;
}
.habs{
    width: 50%;
    background-color: #670759;
    padding: 1%;
}

.estudios{
    width: 50%;
    background-color: #670759;
    padding: 1%;
}
.HabsConocimiento{
    display: flex;
    height: 500px;
}