h2{
    text-align: center;
    justify-content: center;
    text-decoration: solid;
    color: white;
    text-shadow:  0 1px #609ce9, 0 0 15px #609ce9, 0 0 25px #609ce9, 0 0 50px #609ce9;
    position: sticky;
    font-size: 27px;
    font-family: "neontubes";

}
img{
    height: 50px;
    width: 50px;
}
.block{
    display: block;
    width: 50%;
}
.habs{
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}
.habs div{
    padding-top: 20%;
}


.estudios{
    width: 50%;
    padding: 1%;
}
.HabsConocimiento{
    display: flex;
    height: 500px;
}

@media only screen and (max-width:577px)
{
    .habs{

        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,1fr);
    }
    .HabsConocimiento{
        display: block;
        height: auto;

    }
    img{
        height: 45px;
        width: 40px;
    }
    .block{
        width: 100%;
    }
    .habs div{
        padding-top: 10%;
    }
    .estudios{
        width: 100%;
        padding: 1%;
    }
}


