html{
    background-color: #000064;
}
.sticky{
    position: fixed;
    width: 100%;
    z-index: 10000000000000000000000000;
}
.bg-light{
    background-color: #8b97a700 !important;
}
.bg-dark{
    background-color: #999ca070 !important;
}
ul{
    display: flex;
    margin-left: 50%;
    justify-content:space-around;
    align-items: center;
}
ul li{
    width: 150px;
    list-style: none;
}
ul li p{
    text-decoration: none;
    color: white;
    border-left: 2px white solid;
    padding-left: 5px;
    height: 25px;
}
.ms-auto a{
    color: white !important;
}
nav h2{
    font-size: 40px;
    margin: 0;
}



.navbar-toggler{
    background-color: #ffffff70;
    border: 1px solid #ffffff70;
}